#gameCard {
    // background-color: black;
}
#gameCanvas {
    width: 100%;
    height: 9rem;
    background: rgb(32, 32, 96);
}
// #gameCard #actionMenu {
//     #playPauseButton {
//         font-size: 1.5rem
//     }
//     #restartButton {
//         font-size: 1rem;
//     }
// }
